@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --violet: #Cdb4db;
  --light-pink: #Ffc8dd;
  --dark-pink: #Ffafcc;
  --light-blue: #Bde0fe;
  --dark-blue: #a2d2ff;
      
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
    --violet: #Cdb4db;
    --light-pink: #Ffc8dd;
    --dark-pink: #Ffafcc;
    --light-blue: #Bde0fe;
    --dark-blue: #a2d2ff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


.swiper-slide {
  transition: transform 1s ease-in-out; /* Ensures smooth transitions */
}

.swiper-pagination-bullet-active {
  background-color: #a2d2ff !important;
}
